<!DOCTYPE html>
<html lang="en">

<body>
  <%- include('../../layout/head') %>
  <%- include('../../layout/header') %>
  <main>
      <section>
        <ul>
          <li class="bookDiv">
            <img class="bookImg" src="<%= book.image_url%> ">
            <h2 class="Title">
              <%= book.title %>
            </h2>
            <p class="Author">
              <%= book.author%>
            </p>
            <p class="description">
              <%= book.description%>
            </p>
            <p> ISBN : <%= book.isbn%>
            </p>
          </li>
        </ul>

        
      </section>
      <form action="/deleteBook/<%= book.id %>?_method=delete" method="post">
        <button class="open-button1" id="updateBtn">Delete Book</button>
      </form>
    
      </section>

      <button class="open-button" onclick="openForm()">Update details</button>

<div class="form-popup" id="myForm">
  <form  action="/updateBook/<%= book.id %>?_method=put" method="POST" class="form-container">

    <input type="text" name="title" value=" <%= book.title %>" placeholder="title">
    <input type="text" name="author" value="<%= book.author%>">
    <input class = "input1" type="text" name="isbn" value="<%= book.isbn%>">
    <input class = "input1" type="text" name="image_url" value="<%= book.image_url%>" disabled >
    <input class = "input3"  type="text" name="description" value="<%= book.description%>" >
    <button type="submit" class="btn">Update details</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
  </main>
  <%- include('../../layout/footer')  %>

      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="/app.js"></script>
      <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>
</body>

</html>