<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Best Books!</h1>
        </nav>
    </header>
    <main>
        <legend>Search Results</legend>
            <section id="book">
                <% booksResult.forEach (book => { %>
                    <div  class="bookDiv">
                        <img class="bookImg" src="<%= book.img%>" alt="">
                        <h2 class="Title"><%= book.title %></h2>
                        <p class="Author"><%= book.author %></p>
                        <p class="description"><%= book.description %></p>
    
                        <section>
                            <form id="create-form" action="/addBooks" method="POST">
                                <fieldset>
                                    <input hidden type="text" name="image_url" value = "<%= book.img%>">
                                  <input hidden type="text" name="title" value = "<%= book.title %>">
                                  <input  hidden type="text" name="author" value = "<%= book.author  %>" >
                                  <input  hidden type="text" name="description" value ="<%= book.description %>" >
                                  <input hidden type="text" name="isbn" value ="<%= book.isbn %>" >
                                  <button class = "selectBook" type="submit">Select This Book</button>
                                </fieldset>
                              </form>
                          </section>
                    </div>
                <% }) %>
            </section>
    </main>
</body>
</html>