<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('../../layout/head')  %>
    <%- include('../../layout/header')  %>
    <main>
        <legend>Search Results</legend>
        <section id="book">
            <% booksResult.forEach (book=> { %>
                <div class="bookDiv">
                    <img class="bookImg" src="<%= book.img%>" alt="">
                    <h2 class="Title">
                        <%= book.title %>
                    </h2>
                    <p class="Author">
                        <%= book.author %>
                    </p>
                   
                    <section>
                        <form id="create-form" action="/books" method="POST">
                            <fieldset>
                                <input hidden type="text" name="image_url" value="<%= book.img%>">
                                <input hidden type="text" name="title" value="<%= book.title %>">
                                <input hidden type="text" name="author" value="<%= book.author  %>">
                                <input hidden type="text" name="description" value="<%= book.description %>">
                                <input hidden type="text" name="isbn" value="<%= book.isbn %>">
                                <button class="selectBook" type="submit">Select This Book</button>
                            </fieldset>
                        </form>
                    </section>
                </div>
                <% }) %>
        </section>
    </main>
    <%- include('../../layout/footer')  %>
</body>
</html>