<!DOCTYPE html>
<html lang="en">

  <body>
    <%- include('../layout/head')  %>
  <%- include('../layout/header')  %>
  
  <main>
    
    <div class=container2>
     <legend> <%= total %>  saved Books </legend> 
    </div>
    <div class=container3>
      <section >

        <ul>
          <% bookList.forEach(book=>{ %>
            <li class="bookDiv">
              <img class="bookImg" src="<%= book.image_url  %> ">
              <h2 class="Title" >
                <%= book.title %>
              </h2>
              <p class="Author">
                <%= book.author %>
              </p>
              <a class="detail" href="/books/<%= book.id %>">View Details</a>
            </li>
            <% }) %>
        </ul>
      </section>
    </div>
    <div class=container4>
    </div>
  </main>
  <%- include('../layout/footer')  %>
    
</body>

</html>